{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="no-border">
            <h2 class="accordion-header" id="headingOne">
                Āryabhaṭīya System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Long before the ten numerals: 1, 2, 3, ...0, were introduced and the notation for representing numbers became standardized, words like ekam, dve, trīṇi, catvaāri, . . . (one, two, three, four, . . .) seem to have been employed by the
                        Vedic people. Listings of a series of odd numbers and multiples of four are found in Yajurveda, indicating the antiquity of numeration by words. In fact, in Kṛṣṇa-yajurveda one also finds a listing of powers of 10 in several places.</p>

                    <P>Besides listing numbers, the Vedic corpus also presents evidences to show that additive and subtractive principles were employed while coining words to connote numbers. For instance, one finds words link saptaviṃśati (7 + 20 = 27),
                        dvātriṃśat (2 + 30 = 32), ekonaviṃśati (20 − 1 = 19) and the like. It is not difficult to see that this can easily be extended to represent large numbers having three, four and more digits.</P>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="buttons">
            <a class="btn btn-outline-primary" href="/tools/aryabhatan-decoder">Decoder</a>
            <a class="btn btn-outline-primary" href="/tools/aryabhatan-encoder">Encoder</a>
        </div>
    </div>
    <div class="container"> 
    
        {% block content3 %}{% endblock content3 %}

    </div>
{% endblock content %}
