{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Āryabhaṭīya System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><i>Āryabhaṭa</i> devised this system and used it in his famous <i>Āryabhaṭīya</i>. No other Indian astronomer or mathematician seems to have employed this system given its complexity. Here, both consonants and vowels represent numbers. While consonants <i>k</i> to <i>m</i> and <i>y</i> to <i>h</i> depict numbers from 1 to 25 and 30 to 100 respectively, vowels depict the decimal values 10<sup>0</sup> to 10<sup>16</sup>. Our application decodes and encodes this system from string to number and vice versa respectively. For more details, go to <a href="https://en.wikipedia.org/wiki/%C4%80ryabha%E1%B9%ADa_numeration"><i>Āryabhaṭa numeration</i></a> 
                    </p>

                    Examples for the decoder:
                    <ul>
                        <li>ख्युघृ - Devnagari</li>
                        <li>चयगियिङुशुछृलृ - Devnagari</li>
                        <li>​​buPinaca - SLP1</li>
                        <li>maKi - SLP1</li>
                        <li>BaKi - SLP1</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="buttons">
            <a class="btn btn-outline-primary" href="/tools/aryabhatan-decoder">Decoder</a>
            <a class="btn btn-outline-primary" href="/tools/aryabhatan-encoder">Encoder</a>
        </div>
    </div>
    <div class="container"> 
    
        {% block content3 %}{% endblock content3 %}

    </div>
{% endblock content %}
