{% extends 'aryabhatan.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}

{% block content3 %}
<div style="background-color:white;">
    <h3  id='decoder'>Āryabhaṭīya Decoder</h3>
    <div class="form-container">
        <form action="/tools/aryabhatan-decoder" method="post">
            {{ form.hidden_tag() }}
        
            {{ form.Input.label }} {{ form.Input }} <br>
            {{ form.Encoding.label}} {{ form.Encoding }} <br><br>
            
            {{ form.Submit }} <br><br>
            
            <div class="output">
                {% if value %}
                    {% for row in Data %}
                        <p><b>{{ row }}</b> {{ Data[row] }}</p> 
                    {% endfor %}
                    <p><b> Aryabhata Number : </b> {{ value }}</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock content3 %}
