{% extends 'aryabhatan.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content3 %}
<div style="background-color:white;">
    <h3 id='encoder'>Āryabhaṭīya Encoder</h3>
    <div class="form-container">
        <form action="/tools/aryabhatan-encoder" method="post">
            {{ form.hidden_tag() }}

            {{ form.Input.label }} {{ form.Input }} <br>
            {{ form.Options.label}} {{ form.Options }} <br><br>
                
            {{ form.Submit }} <br><br>

            <div class="Output">
                {% if result %}
                    <p>{{ text }}</p>
                    <div class="table-container">
                        <table class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>Words</th>
                            </tr>
                            {% for i in range( result | length ) %}
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{result[i]}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="feedback">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScMmaTTg7d2PDMqToWM2wPhHgw6fxowLWdY7WGDKjVSg9-Ocw/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
{% endblock content3 %}

