{% extends 'bhutasankhya.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block tool %}
<h3  id='decoder'>Bhūtasaṅkhyā Decoder</h3>
    <div class="form-container">
        <form action="/tools/bhutasankhya-decoder" method="post">
            {{ form.hidden_tag() }}
            {{ form.Input.label }} {{ form.Input }} <p></p>
            {{ form.Encoding.label}} {{ form.Encoding }} <p></p>
            {{ form.Verbose.label }} {{ form.Verbose }} <br><br>

            {{ form.Submit }} <br><br>
    
            {% if normal %}
                <p><b> Normal Bhutasankhya Decoding : </b> {{ normal }}</p>
                <p><b> Reverse Bhutasankhya Decoding : </b> {{ reverse }}</p>
            {% endif %}

            {% if breakup %}
                <p><b> Input in Devnagari : </b> {{ Input }}</p>
                <div class="table-container">
                    <table class="table table-striped" align="center">
                        <tr>
                            <th scope="col"> Sandhi </th>
                            <th scope="col"> Value </th>
                        </tr>

                        {% for row in breakup %}
                            <tr>
                                <td> {{ row[0] }} </td>
                                <td> {{ row[1] }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            
            {% if error %}
                <p>Sorry, the word has no Bhutasankhya according to our database</p>
            {% endif %}
            {% if invalid %}
                <p>{{ invalid }}</p>
            {% endif %}
        </form>
    </div>

    <div class="feedback">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScMmaTTg7d2PDMqToWM2wPhHgw6fxowLWdY7WGDKjVSg9-Ocw/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
<br><br><br>
{% endblock tool %}