{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Bhūtasaṅkhyā System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{"""*Bhuta* in Sanskrit means entity or thing. While the word *bhumi* (earth) and its synonyms represent the number 1, the word *akṣi* (eye) and its synonyms represent the number 2 and so on. Since we have many synonyms for each word, it becomes very easy to use a Sanskrit word suitable for the chosen meter to represent numbers. Our application handles the decoding and encoding of this system. For decoding, it parses the given string when more than one words are present and gives the proper result. For encoding, it retrieves the matching words from the database of over 800 Sanskrit words for the input number."""|markdown}}</P>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="buttons">
            <a class="btn btn-outline-primary" href="/tools/bhutasankhya-decoder">Decoder</a>
            <a class="btn btn-outline-primary" href="/tools/bhutasankhya-encoder">Encoder</a>
        </div>
    </div>
    <div class="container"> 
    
        {% block tool %}{% endblock tool %}

    </div>
{% endblock content %}
