{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Cakravāla Method
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        The <i>Cakravāla</i> method is a cyclic algorithm to solve indeterminate quadratic equations of type a<sup>2</sup> = N*b<sup>2</sup> + 1, attributed to Bhāskara II. Our application produces the values of a and b and the verbose option produces the intermediate steps. For more information, go to <a href='https://en.wikipedia.org/wiki/Chakravala_method'>Cakravāla Method</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a class="btn btn-outline-primary" href="/tools/cakravala-calculator">Calculator</a>
    </div>
{% block tool %}{% endblock tool %}
{% endblock content %}