{% extends 'base.html' %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Background
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Long before the ten numerals: 1, 2, 3, ...0, were introduced and the notation for representing numbers became standardized, words like ekam, dve, trīṇi, catvaāri, . . . (one, two, three, four, . . .) seem to have been employed by the
                        Vedic people. Listings of a series of odd numbers and multiples of four are found in Yajurveda, indicating the antiquity of numeration by words. In fact, in Kṛṣṇa-yajurveda one also finds a listing of powers of 10 in several places.</p>

                    <P>Besides listing numbers, the Vedic corpus also presents evidences to show that additive and subtractive principles were employed while coining words to connote numbers. For instance, one finds words link saptaviṃśati (7 + 20 = 27),
                        dvātriṃśat (2 + 30 = 32), ekonaviṃśati (20 − 1 = 19) and the like. It is not difficult to see that this can easily be extended to represent large numbers having three, four and more digits.</P>

                    <p>However, it does not take long to realize that this method of employing words to represent numbers becomes extremely cumbersome, particularly with the increase in the number of digits. Thus there is a need for developing more efficient
                        ways of representing numbers. The need will be felt all the more when one deals frequently with large magnitudes, which is the case in subjects like astronomy. Besides this need mentioned above, Indian astronomers and mathematicians
                        had to meet with one more constraint, namely the rules imposed by metrical compositions.</p>

                    <p>These two requirements, besides other considerations, made them invent different schemes for representing numbers, among which (i) the Kaṭapayādi and (ii) the Bhūtasaṅkhyā systems are the most commonly employed ones.Before we proceed
                        to explain these systems in detail, it may be mentioned here that these systems, apart from being simply an alternate way of representing numbers, have several advantages over the word-numeral scheme described above. This will
                        become amply evident from the description of these systems and the numerical examples provided in following sections.</p>


                    <p>For more details of these systems and to interact with them use below links:</p>
                </div>
            </div>
        </div>

        <a class="btn btn-outline-primary" href="/katapayadi">Kaṭapayādi System</a>
        <a class="btn btn-outline-secondary" href="/aryabhatan">Āryabhaṭīya System</a>
        <a class="btn btn-outline-success" href="/bhutasankhya">Bhūtasaṅkhyā System</a>
        <a class="btn btn-outline-danger" href="/sexagesimal">Sexagesimal Converter</a>
    </div>
{% endblock content %}