{% extends 'base.html' %}
{% block content %}

<div class="accordion" id="accordionExample">
    <div class="Accordion-item">
        <h2 class="accordion-header" id="headingOne">
            INDEA
        </h2>
        <h4>
            Indian Numerical Decoding and Encoding Application 
            </h4>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>This web application is built keeping in mind its varied benefits. It helps researchers working on Indian numerical systems in their decoding and encoding. Teachers in schools and colleges could use this as a teaching aid when teaching these numerical systems as it provides an interactive experience to the students. Even though representing numbers in phrases was a practice evident in the ancient texts, it probably was in vogue in daily business. In modern days, it can be used to train memory. Several studies show that committing a small or large set of numbers in the form of meaningful phrases has demonstrated significant results. Memory athletes use different mnemonic systems to memorize huge numbers, be it the value of pi or random decimal/binary numbers consisting of several thousand digits.</p>

                <p>However, a study is yet to be conducted to show how these Indian numerical decoding and encoding systems (especially Kaṭapayādi and Bhūtasaṅkhyā) can be used for memory training and how it differs from modern mnemonic techniques.</p>

                <p>Under the History of Mathematics in India (HoMI) project, IIT Gandhinagar, four interns, Hrushikesh Vinod Pawar, Siddharth Prakash, Dev Pratap Jha, and Avinash Naik have collectively developed this web application under the mentorship of Dr. Keshav Melnad with Prof. Indranath Sengupta, Prof. Michel Danino, Prof. Atul Dixit, and Prof. Sudipta Sarkar as advisors.</p>

                <p>Note: Since we are publishing the first version of this web application, there is a possibility of some bugs. We highly appreciate your feedback which can be given using the attached form below each component.
                For more details of these systems and to interact with them, use the below links:</p>
            </p>
            </div>
        </div>
    </div>
</div>
<div class="button-container">
    <div class="buttons">
        <a class="btn btn-outline-primary" href="/katapayadi">Kaṭapayādi System</a>
        <a class="btn btn-outline-secondary" href="/aryabhatan">Āryabhaṭīya System</a>
        <a class="btn btn-outline-success" href="/bhutasankhya">Bhūtasaṅkhyā System</a>
        <a class="btn btn-outline-danger" href="/sexagesimal">Sexagesimal Converter</a>
        <a class="btn btn-outline-primary" href="/cakravala">Cakravala Method</a>
    </div>
</div>
<br><br><br>
{% endblock content %}