{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Kaṭapayādi System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{"""It is an ancient Indian numerical system where devanāgari letters are assigned numbers. Here, letters *k, ṭ, p, y* represent number *1*, and *kh*, *ṭh*, *ph*, *r* represent number *2*, and so on. When many letters can represent a single number, it provides the flexibility in forming meaningful words to depict numbers so that they could fit in the prosody. For more details, go to [Katapayadi System - Wikipedia](https://en.wikipedia.org/wiki/Katapayadi_system)."""|markdown}}</p>

                    <p>Out application will handle the decoding and encoding of this system. For encoding, we have created a huge database of Sanskrit words. When an input number is given, matching words are retrieved from the database. When the number doesn’t have an exact match, then it is split variously, and matching words are then retrieved from the database for the segments of the numbers. 
                    </P>      
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="buttons">
            <a class="btn btn-outline-primary" href="/tools/katapayadi-decoder">Decoder</a>
            <a class="btn btn-outline-primary" href="/tools/katapayadi-encoder">Encoder</a>
        </div>
    </div>
    <div class="container"> 
    
        {% block content2 %}{% endblock content2 %}

    </div>
{% endblock content %}
