{% extends 'katapayadi.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content2 %}

<div style="background-color:white;">
    <h3 id='encoder'>Kaṭapayādi Encoder</h3>
    <div class="form-container">
        <form action="/tools/katapayadi-encoder" method="post">
            {{ form.hidden_tag() }}

            {{ form.Input.label }} {{ form.Input }} <br>
            {{ form.Options.label}} {{ form.Options }}  <br><br>
            {{ form.Submit }} <br><br>

            {% if N_Sentences_Dict_Keys %}
                <div class="output">
                    <p>{{ N_Words_lable }}</p>
                    {% if N_Words %}
                        <div class="table-container">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Words</th>
                                </tr>
                                {% for i in range( N_Words | length ) %}
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{N_Words[i]}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                    <p>{{ R_Words_lable }}</p>
                    {% if R_Words %}
                        <div class="table-container">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Words</th>
                                </tr>
                                {% for i in range( R_Words | length ) %}
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{R_Words[i]}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                    <p>The database is able to generate the following word clusters in standard encoding</p>
                    <div class="table-container">
                        <table class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>Word Cluster</th>
                                <th>Partition</th>
                            </tr>
                            {% for i in range(N_Sentences_Dict_Keys | length) %}
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{N_Sentences_Dict_Keys[i]}}</td>
                                    <td>{{N_Sentences_Dict_Values[i]}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>    
                    <p>The database is able to generate the following word clusters in reverse encoding</p>
                    <div class="table-container">
                        <table class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>Word Cluster</th>
                                <th>Partition</th>
                            </tr>
                            {% for i in range(R_Sentences_Dict_Values | length) %}
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{R_Sentences_Dict_Keys[i]}}</td>
                                    <td>{{R_Sentences_Dict_Values[i]}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
<br><br><br>
{% endblock content2 %}
