{% extends 'base.html' %}
{% block content %}
<style>
        form {
            width: 50%;
        }
         
        label {
            display: inline-block;
            float: left;
            clear: left;
            width: 90px;
            margin: 5px;
            text-align: left;
        }
         
        input[type="text"] {
            width: 250px;
            margin: 5px 0px;
        }
         
        .gfg {
            font-size: 40px;
            color: green;
            font-weight: bold;
        }
         
        legend {
            width: 70px;
            padding: 2px;
            margin-left: calc(50% - 35px - 8px);
        }
    </style>
<div class="form-group">
    <form action="/tools/katapayadi-encoder" method="post">
        {{ form.hidden_tag() }}
        <Fieldset>
            <legend><p></p>
                <fieldset style = "width: 500px; margin:  0px auto;">
            {{ form.Input.label }} {{ form.Input }} <p></p>
            {{ form.Options.label}} {{ form.Options }} <p></p>
        </Fieldset>
        <fieldset style = "width: 500px; margin:  0px auto;">
        {{ form.Submit }}
        </legend>
    </form>

    {% if N_Sentences_Dict_Keys %}
        <div class="output">
            <p>{{ N_Words_lable }}</p>
            {% if N_Words %}
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Words</th>
                    </tr>
                    {% for i in range( N_Words | length ) %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{N_Words[i]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <p>{{ R_Words_lable }}</p>
            {% if R_Words %}
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Words</th>
                    </tr>
                    {% for i in range( R_Words | length ) %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{R_Words[i]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>The database is able to generate the following word clusters in standard encoding</p>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Word Cluster</th>
                    <th>Partition</th>
                </tr>
                {% for i in range(N_Sentences_Dict_Keys | length) %}
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{N_Sentences_Dict_Keys[i]}}</td>
                        <td>{{N_Sentences_Dict_Values[i]}}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <p>The database is able to generate the following word clusters in reverse encoding</p>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Word Cluster</th>
                    <th>Partition</th>
                </tr>
                {% for i in range(R_Sentences_Dict_Values | length) %}
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{R_Sentences_Dict_Keys[i]}}</td>
                        <td>{{R_Sentences_Dict_Values[i]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock content %}
