{% extends 'katapayadi.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content2 %}
<div style="background-color:white;">
    
    <h3  id='decoder'>Kaṭapayādi Decoder</h3>
    <div class="form-container">
        <form action="/tools/katapayadi-decoder" method="post">
            {{ form.hidden_tag() }}
            {{ form.Input.label }} {{ form.Input }} <p></p>
            {{ form.Encoding.label}} {{ form.Encoding }} <p></p>
            {{ form.Verbose.label }} {{ form.Verbose }} <br><br>

            {{ form.Submit }} <br><br>
    
            {% if normal %}
                <p><b> Normal Katapayadi Decoding : </b> {{ normal }}</p>
                <p><b> Reverse Katapayadi Decoding : </b> {{ reverse }}</p>
            {% endif %}

            {% if Data %}
                {% for row in Data %}
                    <p><b>{{ row }}</b> {{ Data[row] }}</p> 
                {% endfor %}
                <div class="table-container">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col"> Syllable </th>
                            <th scope="col"> Number </th>
                        </tr>

                        {% for row in Syllables_Data %}
                            <tr>
                                <td> {{ row }} </td>
                                <td> {{ Syllables_Data[row] }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="feedback">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScMmaTTg7d2PDMqToWM2wPhHgw6fxowLWdY7WGDKjVSg9-Ocw/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
<br><br><br>
{% endblock content2 %}
