{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Kaṭapayādi System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>It is an ancient Indian numerical encoding system where <i>devanāgari letters</i>  are assigned numbers. Here, the consonants <i>k, ṭ, p, y</i>  represent number 1, and <i>kh, ṭh, ph, r</i>  represent number 2, and so on. When many letters can represent a single number, it provides the flexibility in forming meaningful words to depict numbers so that they could fit in the chosen prosody. For more details, go to <a href="https://en.wikipedia.org/wiki/Katapayadi_system">Katapayadi System</a>.</p>
                    
                    <p>Our application will handle the decoding and encoding of this system. While decoding is done by syllable parsing and figuring out the associated number, for encoding, we have created a huge database of Sanskrit words sourced from various dictionaries. When an input number is given, matching words are retrieved from the database. When the input number doesn’t have an exact match, then it is split variously, and matching words are then retrieved from the database for the segments of the number.</p>
                    
                    Examples for the decoder: 
                    <ul>
                        <li>गोपीभाग्यमधुव्रात-शृङ्गिशोदधिसन्धिग॥ खलजीवितखाताव गलहालारसंधर॥  -  Devnagari</li>
                        <li>āyurārogyasaukhyam - IAST</li>
                        <li>jYAnaM paramaM Dyeyam - SLP1</li>
                        <li>ಗೀರ್ನಃ ಶ್ರೇಯಃ, ಧೇನವಃ ಶ್ರೀಃ, ರುದ್ರಸ್ತು ನಮ್ಯಃ - Kannada</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="buttons">
            <a class="btn btn-outline-primary" href="/tools/katapayadi-decoder">Decoder</a>
            <a class="btn btn-outline-primary" href="/tools/katapayadi-encoder">Encoder</a>
        </div>
    </div>
    <div class="container"> 
    
        {% block content2 %}{% endblock content2 %}

    </div>
{% endblock content %}
