{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                Sexagesimal System
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   <p>
                    Since ancient times, the sexagesimal number system has been in use. Many civilizations have used this system in daily transactions as well as in astronomical and mathematical calculations since the number 60 has many factors. Even though we find some calculators available online, our application is unique for pedagogical purposes as it not only gives the result but also the intermediate steps, which help teachers in teaching and students in practising and visualizing. Each component of our calculator has its description of its usability. For more details about the sexagesimal system, go to <a href='https://en.wikipedia.org/wiki/Sexagesimal'>Sexagesimal Number System</a>
                   </p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a class="btn btn-outline-primary" href="/tools/sexagesimal-calculator">Calculator</a>
    </div>
{% endblock content %}
